@model DA_QLSach.Models.KhachHang

@{
    Layout = null;
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Phạm Quốc Cường - SB Admin</title>
    <link href="~/Areas/Asset/css/styles.css" rel="stylesheet" />

    <script src="~/Areas/Asset/js/all.min.js"></script>

</head>
<body class="bg-primary">

    <br />
    <br />
    <br />


    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header" align="center">
                    <h2>Đăng nhập </h2>
                    <a>

                        <img src="~/Areas/Asset/images/icon.png" width=100 />
                    </a>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            Tên khách hàng
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.TenKH, "", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.TenKH, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.TenKH, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                Số điện thoại
                                @Html.LabelFor(model => model.SoDT, "", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.SoDT, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SoDT, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                Mật khẩu
                                @Html.LabelFor(model => model.MatKhau, "", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.MatKhau, new { htmlAttributes = new { type = "Password", @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                Địa chỉ
                                @Html.LabelFor(model => model.DiaChi, "", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            @*<div class="form-group">
                    @Html.LabelFor(model => model.IDQuyen, "IDQuyen", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("IDQuyen", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IDQuyen, "", new { @class = "text-danger" })
                    </div>
                </div>*@

                            <div class="form-group" style="float: right">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Đăng ký" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    }
                    <div>
                        @Html.ActionLink("Quay lại", "Index", "Home")
                    </div>
                </div>
                <p>@ViewBag.error</p>
            </div>
        </div>
    </div>

</body>
</html>

